.carts {
  .cart-image {
    height: 110px;
    min-width: 110px;
    background-position: center center;
    background-size: cover;
  }
  .cart-control {
    width: 160px;
  }

  .cart-row {
    .price {
      @include media-breakpoint-down(md) {
        border-top: solid 1px $primary-200;
        border-bottom: solid 1px $primary-200; 
      }
    }
    & + .cart-row {
      @include media-breakpoint-up(md) {
        border-top: solid 1px $primary-200;
      }
    }
  }

  .cart-msg-box {

    @include media-breakpoint-up(md) {
      background-color: theme-color('primary');
      color: white;
    }
  }
  .cart-msg-title {
    background-color: $primary-200;
    color: theme-color('primary');
    @include media-breakpoint-up(md) {
      background-color: theme-color('primary');
      color: white;
    }
  }
}