
.header {
  $main-height: 496px;
  position: relative;
  .header-main-image {
    height: $main-height;
  }
  .header-image-context {
    position: absolute;
    right: 40px;
    top: 40px;
  }

  // rectangle intro box
  $rectangle-image-height: 256px;
  .rectangle-section {
    margin-top: -90px;
  }
  
  .rectangle-image-wrap {
    height: $rectangle-image-height;
    position: relative;
    overflow: hidden;
    z-index: 2;
    writing-mode: vertical-lr;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    & + .rectangle-image-wrap {
      border-left: 1px solid white;
    }
    .rectangle-over {
      background-color: rgba(theme-color('primary'), .8);
      transition: background-color .5s;
    }

    // 互動樣式
    &.active, &:hover, &:focus {
      color: theme-color('primary');
      font-weight: bolder;
      .rectangle-over {
        background-color: rgba(theme-color('accent'), .8);
      }
      .rectangle-image {
        filter: blur(0);
      }
    } 
  }

  .rectangle-text {
    font-size: 24px;
    letter-spacing: 10px;
  }

  .rectangle-image {
    position: absolute;
    right: -10px;
    left: -10px;
    top: -10px;
    bottom: -10px;
    filter: blur(5px);
    z-index: -2;
    transition: filter .5s;
  }

  
}